.signup_wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #ececec;

    main {
        .login_logo {
            display: block;
            text-align: center;
            margin-bottom: 25px;
            img {
                width: 68%;
            }
        }
        .container {
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            padding: 13px;
            form {
                p {
                    font-weight: 500;
                    margin: 10px 10px 0 10px;
                }
                .input_area {
                    margin: 10px 10px 0 10px;
                }
                .signup_btn {
                    background-color: #0f0f0f;
                    color: #fff;
                    width: 222.5px;
                    margin: 10px;
                    height: 40px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }
}
