$--tct-color-brown: #707070;
$--menubox-border-color: #ebebeb;
$--history-btn-color: #e8eaed;
$--history-text-color: #597ef7;

/*whiteboard header*/
.whiteboard_header {
    display: flex;
    border-bottom: 1px solid $--menubox-border-color;
    height: 45px;
    align-items: center;
    justify-content: center;
    .tools {
        width: 90%;

        ul {
            display: flex;
            li {
                list-style: none;
                margin: 0 8px;
                cursor: pointer;
                padding: 4px;
                border-radius: 4px;

                .tool_icons {
                    font-size: 1.3em;
                }

                &.active {
                    background-color: $--tct-color-brown;
                    .tool_icons {
                        color: white;
                    }
                }

                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .history_btn {
        margin: 8px;
        button {
            border: 1px solid $--history-btn-color;
            padding: 8px 12px;
            background-color: #fff;
            color: $--history-text-color;
            font-weight: bold;
            text-align: center;
            border-radius: 8px;
            cursor: pointer;
        }
    }
}

/*whiteboard contents*/
.whiteboard_contents {
    position: relative;

    .history_area {
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        &.active {
            display: block;
            width: 191px;
            background-color: white;
            padding: 17px;
            border-radius: 0 0 8px 8px;
            box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.459);
        }

        .history_list {
            overflow: auto;

            li {
                color: $--history-text-color;
                padding: 10px 0;
                cursor: pointer;
            }

            li:hover {
                text-decoration: underline;
            }
        }

        .history_action_btn {
            margin: 10px 0;
            float: right;

            button {
                border: 0;
                padding: 5px 10px;
                border-radius: 6px;
                margin: 0 4px;
            }

            .add_btn {
                border: 1px solid $--history-text-color;
                background-color: $--history-text-color;
                color: white;
            }

            .clear_btn {
                border: 1px solid #707070;
                color: #707070;
            }
        }
    }
}

.whiteboard_slides {
    display: flex;
    justify-content: space-around;

    .slide {
        background-color: whitesmoke;
        width: 130px;
    }

    .current_slide {
        background-color: white;
    }
}

/* current canvas */
.current_canvas {
    background-color: lightblue;
    width: 100%;
}
