/*whiteboard header*/
.whiteboard_header{
    display: flex;
    border: 1px solid yellow;

    .tools{
        width: 90%;
        ul{
            display: flex;
            margin: 5px;
            padding: 8px;
            li{
                list-style: none;
                margin: 0 8px;
            }
        }
    }

    .history_btn{
        margin: 5px;
        padding: 8px;
    }
}

/*whiteboard contents*/
.whiteboard_contents{
    height: 65vh;
    position: relative;

    .history_area{
        position: absolute;
        right: 0;
        top: 0;
        display: none;

        &.active{
            display: block;
        }
        
        .history_list{
            width: 143px;
            list-style: none;
            padding: 17px;
            margin: 0;
            height: 268px;
            overflow: auto;
            background-color: white;
        }
    }
}

.whiteboard_slides{
    display: flex;
    justify-content: space-around;

    .slide{
      background-color: whitesmoke;
      width: 130px;
    }

    .current_slide{
        background-color: white;
    }
}

/* current canvas */
.current_canvas{
    background-color: lightblue;
    width: 100%;
}
