/* mypage wrapper */
.mypage_wrapper {
    display: flex;
    width: 98%;
    margin: 0;
    padding: 0 1%;
}

.profile_nav {
    width : 20%;
    padding-top: 70px;

    font-size: 25px;

    li {
        height: 30px;
        padding: 25px;

        display: inline-block;

        a {
          color: #919191;
        }

        img {
            width: 30px;
            height: 30px;
            margin-bottom: 35px;
            margin-right: 10px;

            float: left;
        }
    }

    .active {
      display: inline-block;
      color: black;
    }
}

/* mypage - main */
.mypage_wrapper main {
    width : 78%;
    height: 550px;

    padding : 2%;
    margin-top: 20px;

    border-radius: 25px;
    background: #ececec;
    box-sizing: border-box;
}

.MyPage_h2 {
  padding: 1%;
  padding-bottom: 2%;

  font-weight: 600;
  font-size: 45px;
  color: #141414;

  border-bottom: 1px solid #B1B1B1;
}

.box_long {
  height: 80px;
  width: 96%;

  font-size: 35px;
  color: #707070;

  padding : 2%;
  margin: 1% 0;

  background-color: white;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.16);
  border-radius: 20px;

  display: inline-block;
}

.project_area {
  height: 85%;
  overflow-y: scroll;
}

.project_area::-webkit-scrollbar {
    width: 5px; /*스크롤바의 너비*/
}

.project_area::-webkit-scrollbar-thumb {
    background-color: black; /*스크롤바의 색상*/
}
