/* my page header*/

// .mypage_header {
//     font-size: 25px;
//     font-weight: bold;
//     margin-top: 24px;
// }

// .mypage_contents {
//     margin-top: 13px;
// }

// .contents_upper_flex {
//     display: flex;
//     justify-content: flex-end;
//
//     a {
//         border: 1px solid #d4d4d4;
//         display: block;
//         /* padding: 15px; */
//         padding: 5px 11px;
//         width: 33px;
//         border-radius: 8px;
//         text-align: center;
//         margin: 0 0 14px 0;
//     }
// }

/* mypage wrapper */
.mypage_wrapper {
    display: flex;
    width: 98%;
    margin: 0 1%;
    padding: 0;
}

.profile_nav {
    width : 15%;
    padding-top: 70px;

    font-size: 25px;
    color: #707070;

    li {
        padding: 25px;
        height: 30px;

        display: inline-block;

        img {
            width: 30px;
            height: 30px;
            margin-bottom: 35px;
            margin-right: 10px;

            float: left;
        }
    }
}

/* mypage - main */
.mypage_wrapper main {
    width : 80%;
    padding : 30px 2%;
    height: 820px;
    margin-top: 20px;

    border-radius: 25px;
    background: #ececec;

    h2 {
      padding-bottom: 35px;
      margin-bottom: 50px;
      border-bottom: 1px solid #707070;

      font-weight: 600;
      font-size: 45px;
      color: #707070;
    }

    table {
        tr {
            a:hover {
                text-decoration: underline;
            }
        }
    }
}

.mypage_contents {
  form h3 {
    margin-bottom: 15px;
    font-size: 35px;
    color: #707070;
    margin-bottom: 40px;
  }
}

.box_long {
    .box_long_upper {
        span:first-child {
            font-size: 20px;
            font-weight: bold;
        }
        span:last-child {
            float: right;
        }
    }
}
