@import "../../variable.scss";

header.main_header {
    height: 100px;
    width: auto;
    position: inherit;
    z-index: 1;
    display: block;
    border-bottom: 1px solid $--tct-color-gray-3;

    a {
        float: left;
        color: black;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 80px;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
    }

    a.logo {
        height: 80px;
        width: auto;
        display: inline-block;
    }

    a.logo img {
        height: 80px;
        width: auto;
    }

    .header_nav_left {
        height: 100%;
        float: left;
    }

    .header_nav_right {
        height: 100%;
        float: right;
        margin-right: 20px;
        a {
            color: black;
        }
    }
}

// header div.header_nav {
//   float: left;
//   display: inline-block;
// 	height: 100%;
// 	overflow: visible;
//   width: 100%;
// }

// div ul li {
//   float: left;
//   text-align: center;
//   font-weight: bold;
//   padding: 10px;
// }
