header {
  height: 100px;
  width: 100%;
  border-bottom-width: thin;
  border-bottom-color: #B7BCC5
}

header div.logo {
  float: left;
  width: 210px;
  height: 100px;
}

header div.header_nav {
  float: right;
  width: 1300px;
  display: inline-block;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    background-color: white;
}

header a.logo{
  height: 100%;
  padding: 0px;
}

header a.logo img {
    height: 100%;
    width: auto;
}

div.header_nav {
  position: absolute;
	top: 30px;
  width: auto;
  text-align: center;
}

div.header_nav_left {
  float: left;
  text-align: center;
}

div.header_nav_right {
  float: right;
  text-align: center;
}
