header {
  float: left;
  height: 8%;
  display: block;
  width: 100%;
}

header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

header a.logo img {
    height: 80px;
    width: auto;
}

nav {
  float: left;
  display: block;
  position: absolute;
	height: 33px;
	top: 30px;
	overflow: visible;
  width: 100%;
}

nav ul {
  margin: 0;
}

nav ul li {
  float: left;
  text-align: center;
  font-weight: bold;
}

div.header_nav_left {
  padding-left: 200px;
  float: left;
}

div.header_nav_right {
  padding-right: 30px;
  float: right;
}
