@import "../../variable.scss";
.collaboration_wrapper {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    width: 86%;
    margin: 20px auto;

    .left {
      display: inline-block;
      width: 23%;
    }

    .new_box {
      width: 80%;
      padding: 10%;
      height: 130px;
      border-radius: 25px;
      background: #fffcec;
      float: left;

      h3 {
        font-weight: 600;
        font-size: 25px;
        color: #777;
      }

      p {
        margin: 20px 0;
      }

      button {
        border-radius: 10px;
        background: #ffc62a;
        color: white;
        border: none;
        font-size: 20px;
        padding: 10px 20px;
      }
    }

    .side_nav {
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
        float: left;

        .side_nav_item {
            width: 100%;
            margin-bottom: 25px;

            h3 {
                margin-bottom: 15px;
            }
        }
    }

    main {
        padding: 20px;
        width: 75%;
        margin-top: 20px;
        padding: 0;
        box-sizing: border-box;

        border-radius: 25px;
        background: #efefef;
        height: fit-content;
    }

    .collaboration_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        padding: 20px;

        .sorting_bar {
            label {
                font-size: $--tct-font--size-verySmall;
            }
            .sortBy {
                border: 1px solid $--tct-color-gray-3;
                padding: 5px;
                font-size: 13px;
                font-weight: 500;
                border-radius: 8px;
            }
        }

        button {
            padding: 5px 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            background-color: $--tct-color-yellow-5;
            border: 1px solid $--tct-color-yellow-7;
            color: #fff;
            border-radius: 6px;
        }

        button:hover {
            background-color: $--tct-color-yellow-6;
            transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        }
    }

    .collaboration_table {
      .small_box {
        width: 93%;
        margin: 0 1.5%;
        height: 130px;
        border-radius: 25px;
        background: #fff;
        margin-bottom: 20px;
        padding: 2%;

        .small_left {
          float: left;
        }

        .small_right {
          float: right;
          text-align: left;
          border-left: 1px solid #e3e3e3;
          padding-left: 20px;
        }

        p {
          color: #777;
        }

        .title {
          * {
            display: inline-block;
            line-height: 40px;
          }

          h3 {
            border-radius: 10px;
            background: #efefef;
            width: 40px;
            height: 40px;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
          }

          h2 {
            font-size: 25px;
            font-weight: bold;
            margin-left: 15px;
          }
        }

        .location {
          margin-left: 20%;
          margin-top: 15px;
          display: inline-block;

          * {
            float: left;
          }

          img {
            width: 25px;
            height: 25px;
          }

          p {
            height: 25px;
            margin-left: 10px;
          }
        }

        .name {
          margin-top: 20px;
          margin-left: 30%;
        }

        .date {
          font-size: 25px;
        }

        button {
          border-radius: 15px;
          background: linear-gradient(#ffe500 0%, #ffc25b 100%);
          color: white;
          border: none;
          margin-top: 40px;
          font-size: 23px;
          padding: 15px 35px;
        }
      }
    }
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}

.pagination a {
    padding: 8px 16px;
}

table {
    width: 100%;
    margin: auto;
    text-align: center;
}

.model_filter {
    display: none;
}

.photographer_filter {
    display: none;
}

.active {
    display: block;
}
