/*font size*/
$--tct-font--size-verybig: 2rem !global;
$--tct-font--size-big: 1.4rem !global;
$--tct-font-size: 1rem !global;
$--tct-font--size-small: 0.875rem !global;
$--tct-font--size-verySmall: 0.725rem !global;

/*color pallete*/
$--tct-input-color-white: #fafbfc !global;
$--tct-color-white: #ebebeb !global;
$--tct-color-gray-2: #e1e4e8;
$--tct-color-gray-3: #d1d5da;
$--tct-color-gray-4: #959da5;
$--tct-color-gray-5: #6a737d;
$--tct-color-gray-6: #586069;
$--tct-color-yellow-5: #ffd33d !global;
$--tct-color-yellow-6: #f9c513 !global;
$--tct-color-yellow-7: #dbab09 !global;
$--tct-color-brown: #707070 !global;
$--tct-color-blue: #597ef7 !global;
